ignbody,header, hr, div, dl, dt, dd, ul, ol, li, p, blockquote, table, th, td, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select {
	margin : 0;
	padding : 0;
	font-family : Arial !important ;
	font-weight : 100;
}
body
{
	margin:0px;
}
.clear
{
	clear: both;
}
ul
{
	list-style: none;
}
a 
{
	color: #26A69A;
	text-decoration: none;
}
a:hover
{
	color: #222;
	text-decoration: none;
	cursor: pointer;
}

/*header styles begin*/
header
{
	width: 100%;
	min-width: 1000px;
	background-color: white;
	height: auto;
	position: relative;
	z-index: 1;
	box-shadow: 0px 1px 5px #C7C7C7;
}

#head_container
{
	width: 1200px;
	height: 70px;
	margin: 0 auto;
}

#head_container_loged
{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	z-index: 1000;
}
#head_logo
{
	position: relative;
	width: 50px;
	height: inherit;
	background-image: url("../images/logo.png");
	float: left;
}
#head_main
{
	position: relative;
	width: 890px;
	height: inherit;
	float: left;
	padding: 0px 0px 0px 10px;
	color: #26a69a;


}
#signin
{
	float: right;
	height: inherit;
	min-width: 500px;
	padding-top: 5px;
	color:#6F6F6F;
}
#signin a
{
	color:#26a69a;
}
.signin_form
{
	height: inherit;
	width: 215px;
	float: left;
}

.signin_btn
{
	height: inherit;
	width: 70px;
	float: right;
	margin-top: -4px;
}
.login
{
	height: 72px;
	width: 70px;
	color: white;
	background-color: #1B1B1B;
	border: 0px;
	padding-bottom: 4px;
}
.login:hover {
    background-color: #26a69a;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    cursor: pointer;
}
.signup
{
	width: 252px;
	height: 200px;
	float: left;
}
.bubble 
{
    position: relative;
    width: 250px;
    height: 110px;
    padding: 0px;
   	background-color: #FCFCFC;
   	border-top: 1px solid #DBDBDB;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
	border-bottom: 3px solid #26A69A;
	border-radius: 5px 5px 0px 0px;
}

.bubble:after 
{
	content: "";
	position: absolute;
	top: -12px;
	left: 117px;
	border-style: solid;
	border-width: 0 8px 12px;
	border-color: #DBDBDB transparent;
	display: block;
	width: 0;
	z-index: 1;
}

.bubble h2
{
	width: inherit;
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
	color: #424242;
}
.bubble p 
{
	width: inherit;
	text-align: center;
	font-size: 11px;
	color: #26A69A;
}
.bubble form
{
	position: relative;
	margin: auto auto;
	padding: 10px 41px;
}
#signup_btn
{
	width: 170px;
	height: 25px;
	outline: none;
	border-radius: 24px;
	border: 1px solid #D0D0D0;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}
#signup_btn:hover
{
	cursor: pointer;
}
#signup_btn:active
{
	cursor: pointer;
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(234,234,244,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(234,234,244,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(234,234,244,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(234,234,244,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(234,234,244,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(234,234,244,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#eaeaf4',GradientType=0 ); /* IE6-9 */

}
#head_user
{
	position: relative;
	width: 190px;
	height: 30px;
	padding: 10px 10px 10px 0px;
	float: left;
	text-align: right;
	color: white;
}
#head_login
{
	position: relative;
	width: auto;
	height: 30px;
	padding: 10px 10px 10px 0px;
	float: left;
	text-align: right;
	color: white;
}
.username
{
	font-size: 17px;
	font-weight: lighter;
}
.designation
{
	font-size: 12px;
	margin-right: 4px;
	font-weight: lighter;
}
#head_menu
{
	position: relative;
	min-width: 40px;
	height: inherit;
	float: right;
}
.header_menu_container
{
	width: 179px;
	min-height: 30px;
	
}
.header_menu_btn
{
	width: 175px;
	min-height: 18px;
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 4px 4px;

}
.header_menu_btn:hover
{
		background-color:#01A03A;
		color: white;
		cursor: pointer;
}
#background
{
	width: 100%;
  	z-index: 0;
  	margin-top: -140px;
  	z-index: -22;
  	min-width: 1200px;
}
#menu
{
	display: none;
	position: fixed;
	min-height: 30px;
	width: 181px;
	padding: 10px 10px;
	margin-left: -154px;
	margin-top: 10px;
	background-color: white;
	border: 1px solid rgb(25, 173, 61);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}
#menu_btn
{
	width: 30px;
  	height: 30px;
  	margin-top: 10px;
  	margin-left: 10px;
  	border-radius: 60px;
  	border:1px solid #01A03A;
  	background-color: white;
  	cursor: pointer;
}

#menu_btn.launch
{
	outline: none;
	border:none;
}
.btn 
{
  
  
}

.btn:hover {
 
}
/*header styles end*/


/*body*/
#body_container
{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	min-height: 1000px;
	height: auto;



}
#body_container_signup
{
	position: relative;
	width: 100%;
	margin: 0 auto;
	min-height: 300px;
	height: auto;
	background-color: #26A69A;


}
#progress_bar
{
	width: inherit;
	height: 50px;
	border-radius: 6px;
	overflow: hidden;
}
#signup_container
{
	width: 1000px;
	margin: 0 auto;
	background-color: rgb(38, 166, 154);
	height: 600px;
	padding-top:15px;
}
.signup_left
{
	position: relative;
	float: left;
	width: 728px;
	height: 440px;
	background-color: white;
	margin-top: 15px;
	border: 1px solid #D6D6D6;
	padding: 15px 20px 10px 15px;
	
}
.signup_right
{
	float: right;
	margin-top: 15px;
	width: 210px;
	height: 440px;
	padding: 0px 5px;
	overflow-y: auto;

}
.signup_msg
{
	background-color: #383838;
	color: white;
	font-size: 12px;
	padding: 7px 7px;
	margin-bottom: 10px;
	border-radius: 4px;
}
.error_msg
{
	background-color: #C41010;
}
.ok_msg
{
	background-color: #09D39E;
}
#body_container_home
{
	position: relative;
	width: 900px;
	margin: 0 auto;
	min-height: 200px;
	height: auto;
	margin-top: -36px;

}
#bubble_container
{
	width: 1200px;
	height: auto;
	margin: auto auto;
}
#body_left
{
	position: relative;
	float: left;
	width:200px;
	min-height: 1000px;
	height: inherit;
}
#body_left_home
{
	position: relative;
	float: left;
	width:200px;
	min-height: 600px;
	height: inherit;
}
#body_main
{
	position: relative;
	float: left;
	width: 650px;
	min-height: 1000px;
	background-color: #F5F5F5;
}
#body_main_home
{
	position: relative;
	float: left;
	width: 750px;
	min-height: 600px;
	background-color: #F5F5F5;
}
.body_header
{
	height: 30px;
	padding: 10px 10px;
	background-color: #fcfcfc;
	border-bottom: 1px solid #ddd;

}
.edit
{
	min-width: 30px;
	width: auto;
	height: auto;
	padding: 5px 10px;
	margin:1px auto;
	background-color: #384C5E;
	float: right;
	font-size: 15px;
	color: white;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-weight: lighter;
	cursor: pointer;
}
.edit a
{
	color: white;
}
.saved
{
	min-width: 30px;
	width: auto;
	height: auto;
	padding: 5px 10px;
	background-color: #01A03A;
	float: right;
	font-size: 15px;
	color: white;
	border-radius: 5px;
	border: 1px solid white;
	font-weight: lighter;
	margin-top: -27px;
}
.error
{
	min-width: 30px;
	width: auto;
	height: auto;
	padding: 5px 10px;
	background-color: #B20000;
	float: right;
	font-size: 15px;
	color: white;
	border-radius: 5px;
	border: 1px solid white;
	font-weight: lighter;
	margin-top: -27px;
}
.body_container
{
	width: 600px;
	margin: 0 auto;
	height: auto;
	min-width: 50px;
	padding: 10px 10px;
	margin-top:10px;
	background-color: white;
	border: 1px solid #ddd;
}
.body_container a
{
	font-size: 14px;
}
#body_right
{
	position: relative;
	float: left;
	width: 350px;
	min-height: 1000px;
	background-color: #414d59;
}
#body_right_home
{
	position: relative;
	float: right;
	width: 250px;
	min-height: 600px;
	background-color: #414d59;
}
/*body styles end*/
/*body-left | Profile Styles*/
#profile_pic
{
	position: relative;
	width: 200px;
	background-color: #bbb;
	height: 200px;
}
#profile_picture
{
	position: relative;
	width: 200px;
	height: 200px;
}
.pic
{
	width: 200px;
	height: 200px;
	overflow: hidden;
}

#profile_nav
{
	position: relative;
	width: 180px;
	min-height: 170px;
	padding: 20px 10px;
	font-size: 15px;
}
.create_menu
{
	min-height: 100px;
	width: 160px;
	margin-right: 20px;
	padding: 10px 0px 10px 0px;
	font-size: 15px;
	border-top: 1px solid #ddd;
	
}
/*body-left | Profile Styles end*/

/*footer styles begin*/
/*profile navigatio*/
.subjects a
{
	color: #073F77;
	text-decoration: none;
}
.selected
{
	font-weight: bold;
}
.pages  a
{
	margin-left: 10px;
	color: #333;
}
.pages a:hover
{
	cursor: pointer;
	color:#000;
}

/*profile navigatio ends*/
/*forms styles start here
form
{
	border-bottom: 1px solid #ddd;
}
form p
{
	margin: 15px 0px;
}*/
#submit_btn
{
	float: right;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 3px 5px;
	margin-bottom: 10px;
 	cursor: pointer;
 	background-color: #414d59;
 	color: white;
}
.btn
{
	margin-right: 10px;
	width: auto;
	float: left;
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 3px 5px;
	margin-bottom: 20px;
 	cursor: pointer;
}
.btn a
{
	color: black;
}
form textarea
{
	width: inherit;
	max-width: 98%;
	height: auto;
	min-height: 100px;
	padding: 5px 5px;
}
#menu_name
{
	padding: 2px 2px;
}
/*forms styles end here*/
footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	min-width: 1000px;
	background-color: #F9F7F7;
	height: 50px;
}
#foot_container
{
	width: 1000px;
	margin: auto auto;
	padding: 20px 0px 0px 5px;
	height: 30px;
	color: #6B6767;
}
.message
{
	color: green;
}
/*New user form styles*/
.line
{
	 line-height: 170%;
}
.text
{
	padding: 3px 3px;
	width: 180px;
	background-color: #FCFCFC;
	border: 1px solid#DBDBDB;
	border-radius: 3px;
	
}
.text:focus
{
	outline:none;
	border: 1px solid #FCFCFC;
	
}
/*Form Styles*/
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555;vertical-align:middle;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}
.form-control:-moz-placeholder{color:#999}
.form-control::-moz-placeholder{color:#999;opacity:1}
.form-control:-ms-input-placeholder{color:#999}
.form-control::-webkit-input-placeholder{color:#999}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{cursor:not-allowed;background-color:#eee}textarea.form-control{height:auto}

/*Arrow Styles go here*/

.box_arrow
{
	position: relative;
	min-width: 160px;
	height: 32px;
	padding: 0px;
    background: #383838;
    float: left;
	color: white;
	padding: 18px 0px 0px 0px;
	text-align: center;
	font-size: 14px;
}
.arrow 
{
    position: relative;
	min-width: 140px;
	height: 32px;
	padding: 0px;
    background: #383838;
    float: left;
	color: white;
	padding: 18px 0px 0px 0px;
	text-align: center;
	font-size: 14px;
}

.arrow:after 
{
    content: "";
    position: absolute;
    top: 0px;
    right: -19px;
    border-style: solid;
    border-width: 25px 0 25px 19px;
    border-color: transparent #383838;
    display: block;
    width: 0;
    z-index: 1;
}
.arrow_active
{
    position: relative;
	min-width: 140px;
	height: 32px;
	padding: 0px;
	background: #F9F7F7;
	float: left;
	color: rgb(38, 166, 154);
	padding: 18px 0px 0px 0px;
	text-align: center;
	font-size: 14px;

}
.active
{
	background: #F9F7F7;
	color: rgb(38, 166, 154);
}

.arrow_active:after 
{
    content: "";
    position: absolute;
    top: 0px;
    right: -19px;
    border-style: solid;
    border-width: 25px 0 25px 19px;
    border-color: transparent #F9F7F7;
    display: block;
    width: 0;
    z-index: 1;
}
.box_shadow_dark
{
	box-shadow: 0px 3px 5px rgba(107, 107, 107, 0.40);;
}

::-webkit-scrollbar {
    width: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #eee; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #26A69A; 
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #26A69A;
}

::selection {
	color: white;
    background: #26A69A;
}
.bg-teal
{
	 background-color: #26A69A;
}