.signform label
{
	font-size: 13px;
	margin: 0px 0px 10px 0px;
	color: #757575;
	font-weight: lighter;

}
form input
{
	margin: 5px 0px 5px 0px;
	padding: 3px 3px;
	width: 180px;
	background-color: #FCFCFC;
	border: 1px solid#DBDBDB;
	border-radius: 3px;
}
form p
{
	margin-bottom: 15px;
}
form input:focus
{
	outline: none;
	border: 1px solid #26a69a;
	border-radius: 3px;
}
.input_error
{
	border: 1px solid #C41010;
	border-radius: 3px;
}
.input_ok
{
	border: 1px solid #26a69a;
	border-radius: 3px;
}
.signup_left_col
{
	min-height: 400px;
	width: 33%;
	background-color: white;
	float: left;
}
.signup_right_col
{
	min-height: 400px;
	width: 33%;
	background-color: white;
	float: left;
}
form select
{
	margin: 5px 0px 5px 0px;
	padding: 3px 3px;
	width: 180px;
	background-color: #FCFCFC;
	border: 1px solid#DBDBDB;
	border-radius: 3px;
	outline: none;
}
form option
{
	margin: 5px 0px 5px 0px;
	padding: 3px 3px;
	width: 180px;
	background-color: #FCFCFC;
	border: 1px solid#DBDBDB;
	border-radius: 3px;
	outline: none;
}
.profile_pic
{
	width: 200px;
	height: 200px;
	background-color: #eee;
}
.teachers
{
	min-width: 213px;
	height: 110px;
}
.interest
{
	min-width: 213px;
	height: 330px;
}
.dicp
{
	margin: 5px 5px 5px 0px;
	padding: 5px 5px;
	min-width: 98%;
	max-height: 250px;
	min-height: 200px;
	background-color: #FCFCFC;
	border: 1px solid#DBDBDB;
	border-radius: 3px;
	outline: none;
}
#student_list_id {
	display: none;
	margin-top: -16px;
	width: 186px;
	font-size: 13px;
	background-color: #FCFCFC;
	color: rgb(73, 73, 73);
	border: 1px solid #eee;
}
#student_list_id li
{
	margin: 5px 5px;

}
#student_list_id li:hover
{
	color:rgb(38, 166, 154) ;
	cursor: pointer;
	
}
.signup_basic_form
{
	width: 30%;
	margin: 0 auto;
}
.signup_basic_form label
{
	font-size: 14px;
}
.text-center
{
	text-align: center;
}
#pre
{
	width: 60px;
}
.classes
{
	  height: 326px;
}
