.user-chat
{
	width: inherit;
	height: 50px;
	background-color: white; 
	border-bottom:1px solid #ccc;
}
.user-chat-img
{
	width: 50px;
	height: inherit;
	background-color: #26A69A;
	float: left;
}
.user-chat-info
{
	width: inherit-50px;
	float: left;
}
.user-chat-name
{
	margin: 0px;
	padding: 5px 5px;
	font-size: 15px;
	color: #595959;
}
.user-chat-last
{
  	margin: 0;
  	padding: 0px 5px;
  	font-size: 13px;
  	color: #949494;
}
.user-chat:hover
{
	background-color: #f8f8f8;
	color: white;
	cursor: pointer;
}
.chat-to
{
	width: inherit;
	min-height: 100px;
	height: auto;
	margin-bottom: 15px;
}
.chat-from
{
	width: inherit;
	min-height: 100px;
	height: auto;
	margin-bottom: 15px;
}
.chat-to-img
{
	width: 60px;
	height: 60px;
	background-color: #26A69A;
	float: left;
}
.chat-to-msgbox
{
	width: 700px;
	float: right;
	min-height: 100px;
	border:1px solid #ddd;

}
.chat-from-img
{
	width: 60px;
	height: 60px;
	background-color: #26A69A;
	float: right;
}
.chat-from-msgbox
{
	width: 700px;
	float: left;
	min-height: 100px;
	border:1px solid #ddd;

}
.chat-header
{
	background-color: #f5f5f5;
	color: #26A69A;
	
}
.chat-msg
{
	width: inherit-20px;
	min-height: 60px;
	background-color: white;
	margin: 0px;
  	padding: 8px;
  	color: #5B5B5B;
  	font-size: 14px;
}
.status
{
  font-size: 13px;
  color: #666;
  margin: 8px 0px;
}
.chat-mesges
{
	width: 600px;
	height: 400px;
	background-color: #eee;
}
.chat-message
{
	padding: 3px 3px;
	width: inherit-20px;
	background-color: white;
	font-family: Arial;
	color: #666;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}
.chat-names
{
	font-size: 14px;
	color: #ACACAC;
}