html
{
   min-width: 800px;
}
body{
	background:#f5f5f5;  overflow: auto;
  min-width: 800px;
  margin:0px;

}
h1, h2,h3,h4,h5,h6
{
  font-family: Arial;
  margin: 0;
  padding: 0;

}
#leftheader{
	background:#26A69A; border-bottom:1px solid #999; box-shadow:0 0 2px rgba(0,0,0,0.52); width:210px; position:fixed; display:block; left:0px;
	top:0px;  height: 50px; margin-left:auto; margin-right:auto; float: left; border-right: 1px solid #999;
}
#mainheader{
    background:#fefefe; 
    border-bottom:1px solid #D4D4D4;  
    position:fixed; 
    display:block; 
    left:210px;
    top:0px;  
    height: 50px; 
    margin-left:auto;
    margin-right:auto; 
    right:0px; z-index: 1;
    min-width: 625px;
}
.clear
{
  clear: both;
}
#left{
	background:#242628; height: 100%; top:50px; left:0px; width:210px; position:fixed; bottom: 50px; display: block; overflow: auto; z-index: 1; 
}
#cover
{
    position: absolute; 
    background: #f6e4f8; 
    left: 225px; 
    top: 65px;
    height: 270px; 
    right: 15px; 
}
#coverpic
{
  float: left;
  min-width: 600px;
  width: 75%;
  height: inherit;
  background: url('images/cover.jpg');
}
.user-name-logo
{
  font-size: 25px;
  color: white;
  margin: 227px 0px 0px 184px;
}
#coverbox
{

  float: left;
  width: 25%;
  height: inherit;
  background-color: white;
}
.user_pic
{
  position: relative;
  float: left;
  margin: 2px 0px 0px 2px;
  width: 88px;
  height: 88px;
  background-color: #26A69A;
}
.user_pic_pro
{
  position: relative;
  float: left;
  margin: 2px 0px 0px 2px;
  width: 82px;
  height: 82px;
  background-color: #26A69A;
  overflow: hidden;
}
.user_pic_box
{
  width: 82px;
  height: 82px;
}
.user_pic_box_connect
{
  width: 50px;
  height: 50px;
}
.user_pic_index
{
  width: 88px;
  height: 88px;
}
.profile_pic
{
  width: 100px;
  height: 100px;
  background-color: #26A69A;
  position: relative;
  float: left;
  border-radius: 71px;
  border: 3px solid white;
  margin: -60px 0px 0px 60px;
  overflow: hidden;
}
#mid1{
    position: absolute; 
    background: #fefefe; 
    height: 50px; 
    left: 225px;
    top: 336px;
    right: 15px; 
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
#body-main{
    position: absolute; 
    background: #f5f5f5; 
    min-height: 200px; 
    left: 225px;
    top: 410px;
    right: 15px; 
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
#body-gen-main{
    position: absolute; 
    background: #f5f5f5; 
    min-height: 200px; 
    left: 225px;
    top: 65px;
    right: 15px; 
}
#body-left
{
  width: 76%;
  min-width: 300px;
  min-height: 300px;
  height: auto;
  background-color: #f5f5f5;
  float: left;
  padding: 0px 0px 10px 0px;
}
#body-gen-left
{
  width: 24%;
  min-width: 200px;
  min-height: 300px;
  height: auto;
  background-color: #f5f5f5;
  float: left;
}
#body-right
{
  width: 23%;
  min-width: 198px;
  height: auto;
  min-height: 300px;
  background-color: white;
  float: right;
  border: 1px solid #ddd;
}
#body-gen-right
{
  width: 74.5%;
  min-width: 308px;
  height: auto;
  min-height: 300px;
  background-color: #f5f5f5;
  float: right;
}

#mid2{
    position: absolute; background: #fefefe;  left: 225px; top:390px; height: 100px; width:800px;
}
#right{
    position: absolute; background: #fefefe; height:auto; right:15px; top: 390px;  left: 1040px; margin-bottom: 65px;

}
#main{ 
    position: absolute; background: #fefefe; height: auto; left:225px; top:505px; width: 800px; margin-bottom: 65px;

}
#footer{
    position: fixed; z-index: 1 ; height: 50px; bottom: 0px; left: 0px; right: 0px; background:#fefefe;
}


#notif{
    height: 50px; width: 70px;position: fixed;border-right: 1px solid #c2c0c0; left: 425px;
}
#notif:hover{
    background: #f7f7f7;
}

.h-btn
{
  height: 50px;
  width: 50px;
  float: left;
  position: relative;
  border-right: 1px solid #ddd;
}
.h-mid-btn
{
  margin-left: 10px;
  height: 50px;
  min-width: 100px;
  float: left;
  position: relative;
  border-right: 1px solid #E5E5E5;
}
.h-mid-btn i
{
  text-align: center;
}
.user-img
{
  height: 30px;
  width: 30px;
  margin: 9px 7px;
  float: left;
  position: relative;
}
.user-name
{
  height: 30px;
  width: auto;
  margin: 19px 11px 0px 3px;
  float: left;
  position: relative;
  font-size: 12px;
}
.s-btn
{
  height: 50px;
  width: 50px;
  float: left;
  position: relative;
}
.search-bar
{
  height: 50px;
  width: 200px;
  float: left;
  position: relative;
}
#search
{
  font-size: 14px;
  width: 150px;
  border: 0px;
  height: 25px;
  margin: 12px 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}
.user-bar
{
  height: 50px;
  min-width: 100px;
  position: relative;
  float: right;
}
#search:focus
{
  background: #f7f7f7;
}
.search-bar:hover
{
 background: #f7f7f7;
}
.user-bar:hover
{
 background: #f7f7f7;
}
.h-btn:hover
{
  background: #f7f7f7;
}
.h-min-btn:hover
{
  background: #222;
}
.h-link-btn
{
  position: relative;
  width: 50px;
  height: 32px;
  text-align: center;
  color: #aaa;
  margin-top: 17px;
}
.h-mid-link-btn
{
  position: relative;
  width: 90px;
  height: 32px;
  text-align: center;
  margin-top: 17px;
  font-size: 14px;
}
.s-link-btn
{
  position: relative;
  width: 50px;
  height: 32px;
  text-align: center;
  color: #aaa;
  margin-top: 17px;
}
.s-link-btn:hover
{
  cursor: default;
}
.h-link-btn:hover
{
  color: #26A69A;
}
.h-mid-link-btn:hover
{
  color: #666;
}
#home
{
    height: 50px;
    width: 80px; 
    position: fixed; 
    border-right: 1px solid #c2c0c0;
    right:90px;
    background: url('home.png')  no-repeat center;
}
#home:hover{
    background: #f7f7f7;
}

#chat
{
    height: 50px; width: 90px; position: fixed; border-left: 1px solid #c2c0c0;right:0px;
}
#chat:hover{
    background: #f7f7f7;
}
/*.chatl{
 
 width: 70px;
 height:50px;
 display:block;
 background: url('chat.png')  no-repeat center;
}

.chatl:hover {
   background: url('chathover.png') no-repeat center;
}*/
#msg{
    height: 50px; width: 70px; position: fixed; border-right: 1px solid #c2c0c0; left:495px;
}
#msg:hover{
    background: #f7f7f7;
}
.message{
    width: 70px; 
    height: 50px; display: block; background: url('message.jpg') no-repeat center;
}
.message:hover{
    background: url('messagehover.jpg') no-repeat center;
}


.menu{
    left: 565px; height: 50px; width: 120px; position: fixed;  margin: 0px; border-right: 1px solid #c2c0c0;  list-style: none; padding: 0px;background: url(dp.jpg) 10px no-repeat;
} 
.menu:hover
{
   background-color: #f7f7f7; background-image: url(dphover.jpg) 10px no-repeat;
}
.name{
    font-family: 'Helvetica'; font-size: 15px; color:#534c4c ; text-decoration: none;position: fixed; top: 15px; left: 630px;
}
.name:hover{
    color: #26A69A;
}
.menu-hover a{
    font-family: 'Helvetica';font-size:14px; text-decoration: none; color:#534c4c; position: fixed; left: 620px;
}
.menu-hover{
    position: absolute; background: #fefefe; top:100%;  height: 0; opacity: 0; visibility: hidden;
}
.menu-hover li{
    list-style: none; position: relative; height: 35px; line-height: 30px; 
border-bottom: 1px solid #e2dedf;
border-left: 1px solid white;
border-right: 1px solid white;
background-color: #fefefe;
 width: 150px;
 box-shadow: inset 0 0 5px #f7f7f7;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out; 
}

.menu-hover a:hover{
    color: #26A69A; 
}
.menu li:hover .menu-hover{
visibility: visible;

opacity: 1;
}

.menu-hover li:hover{
background-color: #f7f7f7;
box-shadow: none;
}

.menu-hover a{
color: #534c4c; padding-left: 30px; 
}
.setting{
  background: url('images/setting.png') no-repeat 3px;
}
.setting:hover{
  background: url('images/settinghover.png')  no-repeat 3px;
}
.profile{
 
}
.profile:hover{
 
}
.help{
  background: url('images/help.png') no-repeat 3px;
}
.help:hover{
  background: url('images/helphover.png') no-repeat 3px;
}
.logout{
  background: url('images/logout.png') no-repeat 3px;
}
.logout:hover{
  background: url('images/loghover.png') no-repeat 3px;
}

.menu a span:after{
content: "";
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 7px solid #26A69A;
position: absolute;
top: 20px;
right: 30px;

-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out; 
}

.menu-hover li:first-child, .menu-hover li:last-child{
border-radius: 0; 
}
.menu li:hover span:after{
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
}
p{
    margin: 8px; font-family: "Helvetica" Arial;
}

.toggle-box {
  display: none;
}
#lefth{
    padding: 0px; margin: 0px; 
}
#lefth:hover{
   
    background: black;
}
.toggle-box + label:hover{
    color: white;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 5px;

  color: #bcc4c1;
  font-size: 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 40px;
  

  
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;

}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  background-color: #bcc4c1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  
  float: right;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  
  text-align: center;
  width: 20px;
  margin-top: 15px;
  margin-right: 15px;
 
  
}

.toggle-box:checked + label:before {
  content: "\2212";
}
#subskill{
    list-style: none;  border-bottom: 1px solid #303335; 

}
.sub{
    text-decoration: none; color: #bcc4c1; line-height:40px; margin-left: 50px; font-family: "Helvetica Neue" sans-serif; font-size: 14px; font-weight: 600;
}
.sub:hover{
    color:#26A69A
}
#friends{
  background: url('friends.png') no-repeat 10px 12px;

}
.menu-list-item
{
  text-decoration: none;  cursor: pointer;
  display: block;
  font-weight: 5left00;
  line-height: 50px;
  margin-bottom: 5px;
  color: #bcc4c1;
  font-size: 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px 20px;
}
.menu-list-item:hover
{
   background-color: #111;
   color: white;
}
.menu-icon
{
  float:left;
  margin-top: 16px;
  margin-right: 10px;
}
.friend
{

  text-decoration: none;  cursor: pointer;
  display: block;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 5px;
  color: #bcc4c1;
  font-size: 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.friend:hover{
  color: white;
}
#friends:hover{
  background: url('images/friendshover.png')  no-repeat 10px 12px; 
}
#friendss:hover{
  background: black;
}

#class{
  background: url('images/class.png') no-repeat 10px 16px;
}
#class:hover{
  background: url('images/classhover.png') no-repeat 10px 16px;
}
#skills{
  background: url('images/skill.png') no-repeat 10px 15px;
}
#skills:hover{
  background: url('images/skills.png') no-repeat 10px 15px;
}
#certifi{
  background: url('images/certi.png') no-repeat 10px 15px;
}
#certifi:hover{
  background: url('images/certifi.png') no-repeat 10px 15px;
}
#interest{
  background: url('images/interest.png') no-repeat 10px 15px;
}
#interest:hover{
  background: url('images/interesthover.png') no-repeat 10px 15px;
}
#projects{
  background: url('images/project.png') no-repeat 10px 12px;
}
#projects:hover{
  background: url('images/projecthover.png') no-repeat 10px 12px;
}

::-webkit-scrollbar {
   width: 4px;
}


/* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background: #eee; 
}

/* Handle */
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background: #26A69A; 
   -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {

}
::-moz-selection { /* Code for Firefox */
   color: white;
   background: #26A69A;
}
#ab{
  background: url('about.png') no-repeat 15px 17px;

}
.about{
  text-decoration: none;  cursor: pointer;
  display: block;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 5px;

  color: #676767;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 50px;
}
.about:hover{
  color: black; 
}
#ab:hover{
  background: url('abouthover.png')  no-repeat 15px 17px; 
}
#abouts:hover{
  background: #f7f7f7;border-bottom: 1px solid white; border-left: 1px solid white
}
#abouts{
  height: 60px; width: 120px; 
}
#showRight{
   width: 100px;
 height:50px;
 display:block;
 background: url('chat.png')  no-repeat center; border: none;
}
#showRight:active{
  background: url('chathover.png') no-repeat center; border: none;
}
#showRight:hover{
  background: url('chathover.png') no-repeat center; border: none;
}

.user-icon
{
  width: inherit;
  overflow: hidden;
  border-radius: 24px;
  border: 2px solid #aaa;
  margin-top: -2px;
}

.font-color-dark-grey
{
  color: #666;
}
.font-color-light-grey
{
  color: #aaa;
}
.container-header
{
  font-family: Arial;
  font-weight: 500;
  margin: 10px 10px 5px 10px;
  color: white;
}
#post-container
{
  width: 390px;
  min-height: 179px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #26A69A;
  float: left;
}
#post
{
  
  padding: 5px 5px;
  min-width: 378px;
  max-width: 378px;
  max-height: 100px;
  min-height: 100px;
  background-color: #FCFCFC;
  border: 1px solid#DBDBDB;
  outline: none;
  font-family: Arial;
  font-size: 14px;
}
.post-footer
{
  height: 30px;
  width: 388px;
  background-color: #EEE;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.post-btn
{
  height: 14px;
  width: 60px;
  float: right;
  padding: 8px 8px;
  font-size: 14px;
  color: #6E6E6E;
}
.post-btn:hover
{
  color: #26A69A;
  cursor: pointer;
}
.reg-post-container
{
  min-height: 195px;
  height: auto;
  position: relative;
  float: left;
  width: 390px;
  background-color: red;
  margin-bottom: 15px;
  margin-right: 15px;
}
.reg-post-header
{
  width: inherit;
  height: 50px;
  background-color: #26A69A;
}
.reg-post-user-pic
{
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  background-color: gray; 
}
.reg-post-user-name
{
  padding: 5px 56px;
  color: white;
  font-weight: lighter;
  font-size: 17px;
  margin: 0;
}
.reg-post-date
{
  float: left;
  margin-top: -3px;
  font-size: 13px;
  color: white; 
}
.reg-post-box
{
  width: 378px;
  min-height: 110px;
  height: auto;
  padding: 5px 5px;
  background-color:white;
  border: 1px solid#DBDBDB;
  font-family: Arial;
  font-size: 14px;
}
.reg-post-footer
{
  background-color: rgb(238, 238, 238);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 22px;
  width: 388px;

}
.like
{
  margin: 0px;
  float: right;
  font-size: 13px;
  padding: 3px 5px;
  color: #7D7D7D;
}
.like:hover
{
  color: #26A69A;
  cursor: pointer;
}
.comment
{
  margin: 0px;
  float: left;
  font-size: 13px;
  padding: 3px 5px;
  color: #7D7D7D;
}
.comment:hover
{
  color: #26A69A;
  cursor: pointer;
}
#events
{
  width: 100%;
  min-height: 300px;
  background-color: red;
}
.events-header
{
  width: inherit;
  height: 30px;
  background-color: #E2E2E2;
}
.events-header p
{
  color: #111;
  font-family: Arial;
  font-variant: lighter;
  margin: 0px;
  padding: 5px 5px;
}
.events-body
{
  width: 100%-20px;
  min-height: 250px;
  padding: 10px 10px;
  background-color: white
}
.event-container
{
  width: 100%;
  height: 65px;
  background-color: #26A69A;
  margin-bottom: 10px;
}
.event-footer
{
  width: 100%-4px;
  height: 11px;
  background-color: #EEE;
  padding: 2px 2px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.tags
{
  margin: 0px;
  float: left;
  font-size: 11px;
  padding: 1px 1px;
  color: #7D7D7D;
}
.left-container
{
  width: 100%-10px;
  min-height: 80px;
  height: auto;
  background-color: white;
  border: 1px solid #ddd;
}
.profile-picture
{
  width: 120px;
  height: 120px;
  background-color: #26A69A;
  margin: 30px auto 0px auto;
  border-radius: 60px;
  overflow: hidden;
}
.pic
{
  width: 120px;
}
.pic-index
{
  width: 120px;
  margin-left: -6px;
}
.pic-post
{
  width: 50px;
}
.user-name-profile
{
  text-align: center;
  margin-top: 11px;
  font-size: 20px;
  color: #666;
}
.profile-picture-footer
{
  margin-top: 5px;
  background-color: rgb(238, 238, 238);
  border-top: 1px solid #ddd;
  height: 13px;
  width: inherit-4px;
  color: #666;
  font-size: 12px;
  padding: 5px 5px;

}
.follow-btn
{
  display: inline-block;
  margin:0px 61px 10px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #8bbf61;
  border-color: #8bbf61;
}
.view-btn
{
  display: inline-block;
  margin:5px 5px 5px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 9px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #8bbf61;
  border-color: #8bbf61;
}
.contact
{
  color: #444;
  background-color: #EEEEEE;
  margin: 0px;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;

}
.contact-item
{
  color: #666;
  background-color: white;
  margin: 0px;
  padding: 5px 5px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.search-container
{
  background-color: white;
  border: 1px solid #C6C6C6;
  width: 100%;
  height: 35px;
  border-radius: 7px;
  overflow: hidden;
}
.search-container p
{
  color: white;
  width: 20%;
  min-width: 75px;
  max-width: 75px;
  height: 35px;
  margin: 0px;
  padding: 8px 20px;
  float: left;
  background-color: #26A69A;
}
.send-box
{
  width:90%;
  min-width: 600px;
  height: 21px;
  float: left;
  padding: 5px 5px;
  border: 0px;
  outline: none;
  margin-top: 2px;
}
.send-box-m
{
  width:80%;
  min-width: 600px;
  height: 21px;
  float: left;
  padding: 5px 5px;
  border: 0px;
  outline: none;
  margin-top: 2px;
}
.send-btn
{
  margin-top: 8px;
}
.connection-container
{
  width: 100%-30px;
  padding: 15px 15px;
  min-width: 600px;
  height: 55px;
  background-color: white;
  border:1px solid #ddd;
  border-radius: 7px;
  margin-top: 15px;
}
.user-node
{
  width: 55px;
  height: 55px;
  vertical-align: center;
  margin-left: 10px;
  background-color: #26A69A;
  border-radius: 30px;
  float: left;
  overflow: hidden;
}
.arrow
{
  vertical-align: center;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  color: #666;
}
.right-container
{
  width: 45%;
  min-width: 300px;
  height: auto;
  border: 1px solid #ddd;
  float: left;
  padding-bottom: 2px;
}
.interest-cards-container
{
  width: 100%;
  min-width: 600px;
  height: auto;
  min-height: 400px;
  padding-bottom: 5px;
  background-color: white;
  border:1px solid #ddd;
  margin-top: 15px;
}
.interest-cards
{
  min-height: 300px;
  height: auto;
  width:100%-30px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px 20px;
}
.interest-card
{
  min-height: 335px;
  height: auto;
  width: 245px;
  background-color: white;
  border: 1px solid #ddd;
  margin: 15px 15px;
  float: left;
  
}
.interest-card i
{
  margin: 0px 15px 5px 15px;
  font-size: 12px;
  color: #666;
  
}
.interest-card-header
{
  margin: 15px 15px 5px 15px;
  color: #666;
}
.interest-card-img
{
  height: 200px;
  width: 100%;
  background-color: #26A69A;
  overflow: hidden;
}
.interest-card-desp
{
  margin: 15px 15px;
  color: #666;
  font-size: 13px;
}
.connect-header
{
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  color: #666;
}
.connect-container
{
  width: 349px;
  height: 200px;
  background-color: #f5f5f5;
  border:1px solid #ddd;
  margin: 10px 10px 10px 0px;
  float: left;
}
.connect-container-header
{
  width: 100%-10px;
  height: 51px;
  padding: 5px 5px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.connect-container-header i
{
  font-size: 12px;
  color: #666;
  float: left;
  margin-right: 15px;
}
.connect-container-user
{
  width: 50px;
  height: 50px;
  background-color: #26A69A;
  border-radius: 40px;
  float: left;
  margin-right: 15px;
  overflow: hidden;

}
.connect-container-user img
{
    margin: 0px 0px;
  
}
.connect-users-container
{
  width: 100%-10px;
  height: 90px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 5px 5px;
}
.connect-users-container p
{
  margin: 0px;
  color: #666;
  margin-bottom: 10px;
}
.connect-pic
{
  width: 60px;
  float: left;
}
.post-selector
{
  float: left;
}
#tag-selector
{
  float: left;
  margin-top: 6px;
  background: #EEE;
  border: 1px solid #EEE;
  color: #666;
  outline: none;
}
#tag-selector select:hover
{
  background-color: #26A69A;
}
#post-btn
{
  padding: 0px;
  border: 0px;
  background-color: #EEE;
}
#post-btn:hover
{
  cursor: pointer;
}
.stars
{
  padding: 10px 10px;
  color: #ddd;
  max-width: 100px;
  width: auto;
  margin: 0 auto;
}
.stars i
{
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}
.star_active
{
  color: #26A69A;
}
.connect-container-user i
{
  font-size: 30px;
  color: rgb(10, 107, 98);
  margin: 10px 10px;
}