/* General styles for all menus */
.cbp-spmenu {
	background: white;
	position: fixed; top: 55px; 
}


.cbp-spmenu a {
	display: block;
	color: black;
	
	font-weight: 300; text-decoration: none; line-height: 30px;
}

.cbp-spmenu a:hover {
	background: #f7f7f7;
}

.cbp-spmenu a:active {
	background: #f7f7f7;
	color: #26a69a;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 180px;
	height: auto;
	top: 51px;
	z-index: 1; 
}


.cbp-spmenu-vertical a {
	border-bottom: 1px solid #c2c0c0;
	padding: 1em;
}


.cbp-spmenu-right {
	right: -180px; 
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px; top: 51px;
}


.cbp-spmenu
{
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.title
{
	color:#fefefe; 
	font-family:Arial;
	position:relative;
	font-weight:lighter;
	margin:13px 30px;
	font-size:20px;
}